#JiraMonkeyToggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#JiraMonkeyContainer {
    position: relative;
    left: 10px;
}

.selectedJiraMonkey {
    font-weight: bold;
}

table.monkeyTable td, table.monkeyTable th {
    padding-right: 0.5em;
}

.monkeyFlexColumn {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}

.monkeyFlexContainer {
    display: flex;
}

.monkeyFlexContainer label {
    font-weight: bold;
    align-self: flex-end;
}
